body{

}

.maincontainer{
    display: flex;
    flex-direction: column;
    flex: 1;
        
}

/* hero section */
.herocontainer{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 0px 200px;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.logo{
    display: flex;
    flex: auto;
}

ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
}

.section2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.heroimg {
    height: 300px;
    width: 300px;
}

/* middle section */

